<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-success form-control">
            Save
        </button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark form-control">
         Back to List
        </a>
    </div>
</div>