<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-danger form-control">
            Update
        </button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark form-control">
            Back to List
        </a>
    </div>
</div>