<div class="row">
    <div class="col-9">
        <label class="text-info">Category lIst</label>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info form-control">
            <i class="fas fa-plus">&nbsp;New Category</i>
        </a>
    </div>
</div>
<div class="container border m-2 p-2">
    <table id="tbldata" class="table table-bordered table-striped-columns table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/category.js"></script>
}
